.Test {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1Dum {
    color: red;
    text-shadow:
    0 0 5px rgb(255, 0, 0),
    0 0 10px rgb(255, 0, 0),
    0 0 15px rgb(255, 0, 0),
    0 0 20px rgb(255, 0, 0),
    0 0 40px rgb(255, 0, 0);
    font-size: 250px;
}