.Test {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1Dum {
    color: red;
    text-shadow:
    0 0 5px black,
    0 0 10px black,
    0 0 15px black,
    0 0 20px black,
    0 0 40px black;
    font-size: 250px;
}

/* This is a test CSS file for the GTA 5 website. It contains styles for the main page and the character pages. */